@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}


.slide {
  width: 300px;
  margin: 0 15px;
  text-align: center;
  cursor: pointer;
  animation: float 2s ease-in-out infinite;
}

@keyframes float2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-down {
  width: 300px;
  margin: 0 15px;
  text-align: center;
  cursor: pointer;
  animation: float2 2s ease-in-out infinite;
}


.react-multi-carousel-list {
  overflow:unset
}
  
.wave-line {
  position: absolute;
  width: 100%;
  height: 80%;
  max-width: 100%;
  overflow: hidden;
  background: url('../../../public/wave.svg');
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  z-index: 1;
  /* margin-right: 40%; */
}
  
.slide-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: black;
}

.slide-image {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  /* border-radius: 50%; */
}

.slide-container {
  li {
      display: flex;
      justify-content: center
  }
}