/* Container for full page */
.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; /* Full viewport width */
    background-color: white; /* Optional background color */
    padding: 1rem;
  }
  
  /* Brand description styles */
  .brand-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .brand-logo img {
    max-width: 100px; /* Adjust based on your logo size */
    object-fit: cover;
  }
  
  .line {
    width: 80%; /* Adjust as necessary */
    height: 2px;
    background-color: #000; /* Line color */
    margin: 20px auto;
  }
  
  .brand-text {
    font-size: 16px;
    max-width: 600px; /* Adjust based on desired text width */
    margin: 0 auto;
    color: #000;
    font-family: 'Playfair';
  }
  