.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 items per row */
  gap: 50px;
  padding: 60px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  max-height: fit-content;
  /* padding: 1rem; */
}

.image {
  width: 100%;
  height: auto;
  /* width: 450px;
  height: 450px; */
  object-fit: cover;
}

.title {
  margin-top: 10px;
  font-size: 1rem;
  color: gray;
}

/* Misalignment styles for a random staggered look */
.misalign0 { transform: translate(3px, -5px); }
.misalign1 { transform: translate(-6px, 4px); }
.misalign2 { transform: translate(4px, 7px); }
.misalign3 { transform: translate(-5px, -4px); }
.misalign4 { transform: translate(6px, -3px); }

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row on smaller screens */
    gap: 15px;
  }

  .image {
    max-width: 100px;
    max-height: 100px;
  }

  .title {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .gridContainer {
    grid-template-columns: 1fr; /* 1 item per row on mobile screens */
  }
}
