.skills {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    /* padding-top: 5%; */
    background-color: white;
}

.photography-list {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */

    & div{
        padding-left: 25px;
        padding-right: 25px;
    }

    .photography-list-item{
        border-right: 2px solid gray;
    }
}


.tshirt-printing {

    .three-images-grid-wrapper{

        .imageGrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
            gap: 16px; /* Space between grid items */
            width: 95%; /* Adjust grid width */
        }
        
        .imageContainer {
            width: 100%;
            aspect-ratio: 4 / 4; /* Maintain a 4:3 aspect ratio */
            overflow: hidden; /* Hide overflow for object-cover effect */
        }
        
        .imageContainer img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the image covers the container */
        }
    }

    .four-images-grid-wrapper {
        .imageGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
            gap: 16px; /* Space between grid items */
            width: 95%; /* Adjust grid width */
          }
          
          .imageContainer {
            width: 100%;
            aspect-ratio: 4 / 3; /* Maintain a 4:3 aspect ratio */
            overflow: hidden; /* Hide overflow for object-cover effect */
          }
          
          .imageContainer img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the image covers the container */
          }
          
    }

    .two-images-grid-wrapper {
        .imageGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
            gap: 16px; /* Space between grid items */
            width: 95%; /* Adjust grid width */
          }
          
          .imageContainer {
            width: 100%;
            aspect-ratio: 4 / 3; /* Maintain a 4:3 aspect ratio */
            overflow: hidden; /* Hide overflow for object-cover effect */
          }
          
          .imageContainer img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the image covers the container */
          }
          
    }
}

.tshirt-printing-mobile {

    .three-images-grid-wrapper{

        .imageGrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
            gap: 16px; /* Space between grid items */
            width: 95%; /* Adjust grid width */
        }
        
        .imageContainer {
            width: 100%;
            aspect-ratio: 4 / 7; /* Maintain a 4:3 aspect ratio */
            overflow: hidden; /* Hide overflow for object-cover effect */
        }
        
        .imageContainer img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the image covers the container */
        }
    }

    .four-images-grid-wrapper {
        .imageGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
            gap: 16px; /* Space between grid items */
            width: 95%; /* Adjust grid width */
          }
          
          .imageContainer {
            width: 100%;
            aspect-ratio: 4 / 5; /* Maintain a 4:3 aspect ratio */
            overflow: hidden; /* Hide overflow for object-cover effect */
          }
          
          .imageContainer img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the image covers the container */
          }
          
    }

    .two-images-grid-wrapper {
        .imageGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
            gap: 16px; /* Space between grid items */
            width: 95%; /* Adjust grid width */
          }
          
          .imageContainer {
            width: 100%;
            aspect-ratio: 4 / 5; /* Maintain a 4:3 aspect ratio */
            overflow: hidden; /* Hide overflow for object-cover effect */
          }
          
          .imageContainer img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the image covers the container */
          }
          
    }
}




.skills::-webkit-scrollbar {
    display: none;
  }