.social-media-skills-wrapper {
    /* height: 100vh; */
    overflow-y: auto;
    background-color: white;
}

.social-media {
    display: flex; /* Flexbox layout for horizontal alignment */
    gap: 1rem; /* Space between the images */
    justify-content: space-between; /* Evenly distribute images */
    width: 90%; /* Adjust width as per your layout */
    margin-left: 5vw;
    padding-bottom: 2rem;
    
    .social-media-image {
        width: calc(25.7% - 1rem); /* Each image takes 25% width minus the gap */
        height: auto; /* Maintain aspect ratio */
        object-fit: cover; /* Optional: to ensure image covers its area without distortion */
    }
}

.social-media-skills {
    display: flex;
    gap: 4rem;
    color: black;
}

.social-media-left {
    padding-left: 3rem;
}

.SocialMediaRightFirstRow {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    margin-left: -8rem;

    & img {
        height: 160px;
        width: 160px;
    }
}

.social-media-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

