.sukoon-work-page-wrapper {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;
    padding-top: 5%;
    background-color: white;
    color: black;

    .brand-description {
        height: 40%;
        display: flex;
        justify-content: center;
        gap: 5rem;
        padding: 2rem;

        .brand-logo {
            img {
                height: 100%;
                width: 10rem;
                max-height: 100%;
                object-fit: contain;

            }
        }

        .line {
            width: 0.1rem;
            border: lightgray solid 0.1rem;
        }

        .brand-text {
            display: flex;
            align-items: center;
        }
    }

    .color-pallet-container {
      display: flex;
      gap: 2rem; /* Space between the image and color pallet */
      align-items: center; /* Center the content vertically */
      width: 90%;
      margin-left: 5vw;
      justify-content: space-between;
      margin-bottom: 5rem;
      margin-top: 1rem;
      height: 50%;
    
      .image-container {
        flex: 8;
        height: 100%;
        max-height: 100%;
        width: 100%; /* Ensure the image container takes up its allocated space */
    
        img {
          height: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
    
      .color-pallet {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 1rem; /* Space between color items */
        justify-content: flex-start; /* Align color items to the left */
      }
    
      .color-item {
        display: flex;
        align-items: center;
        gap: 0.5rem; /* Space between color block and name */
      }
    
      .color-rectangle {
        width: 12vw; 
        height: 50px; /* Set a fixed height for the color blocks */
        display: inline-block;
      }
    }
      
      

    .photography {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: 5vw;
        padding-bottom: 2rem;

        .cover-photo {
            height: 80vh;
            width: 90vw;
            

            img {
                height: 80vh;
                width: 90vw;
                object-fit: cover
            }
        }

        .sukoon-image-container {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Two equal columns */
            grid-template-rows: 1fr; /* One row */
            height: 80vh; /* Total height of 80% of viewport height */
            width: 90vw; /* Total width of 90% of viewport width */
            gap: 0.5rem; /* Gap between grid items */
                  
          .image-left {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            height: 100%;
            max-height: 80vh;
          
            img {
              height: 100%;
              max-height: 80vh;
              object-fit: cover; /* Ensure image covers the left container area */
            }
          }
          
          .image-right {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            height: 100%;
            max-height: 80vh;
          
            img {
              height: 100%;
              max-height: 80vh;
              object-fit: cover; /* Ensure image covers the right container area */
            }
          }
          
          .image {
            width: 100%;
            object-fit: cover; /* Ensures images cover their respective areas */
          }
        }  
    }
      
    
}