/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family:'quicksandregular' !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

.App {
  background-image: url('./assets/img/appbg.jpg') !important;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0;
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.nav-link {
  opacity: 0;
  transform: translateY(-100px);
  animation: slideIn 1s forwards;
}

.nav-link:nth-child(1) {
  animation-delay: 0.2s;
}

.nav-link:nth-child(2) {
  animation-delay: 0.4s;
}

.nav-link:nth-child(3) {
  animation-delay: 0.6s;
}

.nav-link:nth-child(4) {
  animation-delay: 0.8s;
}

.nav-link:nth-child(5) {
  animation-delay: 1s;
}

.nav-link:nth-child(6) {
  animation-delay: 1.2s;
}

.nav-link:nth-child(7) {
  animation-delay: 1.4s;
}


@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  /* padding: 260px 0 100px 0; */
  background-image: url('./assets/img/bgimage.png'); 
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.bg-vdo {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Skills Css ************/


.profile-image-wrapper{
  display: flex;
  justify-content: center;
}

.profile-image{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile-content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Goudy Old Style";
  font-size: 3vh;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  color: #000;
}

.skill {
  /* padding: 0 0 50px 0; */
  position: relative;
}
.skill-bx {
  /* background: #151515; */
  border-radius: 64px;
  text-align: center;
  margin-top: 60px;
  padding: 30px 20px;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
  display: flex;
  justify-content: center;
  /* background-color: #2F4F4F; */
  border-radius: 10%;
  padding: 1%;
  color: #000;
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 90%;
  height: 20rem;
  border-radius: 64px;
  margin: 0 auto 15px auto;
}
#myWorld {
  /* background-image: url('./assets/img/appbg.jpg'); uncomment */
  
  .about-me-container {
    height: 100vh !important;
    width: 100vw;
    max-width: 100vw;
    overflow-y: scroll;
    padding-left: 0;
    padding-right: 0;
  }
  padding-bottom: 0;
}

#my-work {
  /* background-image: url('./assets/img/appbg.jpg'); */
  padding: 80px 0;
  height: 100vh;
  padding-bottom: 0;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: black; */
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #000;
  background-image: url('./assets/img/appbg.jpg');
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
  }
  .project .nav.nav-pills .nav-link.active {
    background-image: url('./assets/img/bgimage.png');
    color: #FFFFFF;
  }
  .nav-link#projects-tabs-tab-first {
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    border-radius: 55px 0px 0px 55px;
  }
  .nav-link#projects-tabs-tab-second {
    /* border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
  }
  .nav-link#projects-tabs-tab-third {
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    border-radius: 0 55px 55px 0;
  }
  .proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  /* background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%); */
  background: linear-gradient(90.21deg, white -5.91%, gray 111.58%);
  background-image: url('./assets/img/art-illustration.jpg');
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

#mywork {
  /* background-image: url('./assets/img/appbg.jpg'); */
  height: 100vh;
}

#mywork {
  h2 {
    color: black;
  }
}

#projects {
  background-image: url('./assets/img/art-illustration.jpg');

  h2 {
    color: #000;
  }
}
/************ Projects Css ************/
.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.animated-container {
  opacity: 0;
  transform: translateX(-1000px);
  animation: slideIn 3s forwards;
  height: 100%;
}

.animated-container {
  animation-delay: 0.2s;
}


@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

h2 {
  font-family: "Goudy Old Style"
}

.hand-wave {
  height: 100px;
  width: 150px;
  display: flex;
  background: url('./assets/Videos/hand-wave.mp4');
}

.my-world-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Goudy Old Style"
}

.my-world-wrapper-container{
  display: flex;
  gap: 2rem;
}

.scrolldown-img{
  img {
    height: 50px;
    width: 50px;
  }
}

.srollup-img{
  display: flex;
  justify-content: center;
	transform: rotate(180deg);
}

.my-world-wrapper--1 {
  display: flex;
  flex-direction: column;
    img {
      height: 200px;
      width: 200px;
    }
}

.cat-pow {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 20rem;
}

.cat-pow-text {
  display: flex;
  font-size: 3vh;
  align-items: center;
  font-family: "Goudy Old Style"
}

.my-world-text {
  display: flex;
  width: 30%;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
}

.my-world-wrapper--cover-page {
  display: flex;
  flex-direction: column;
  
  .my-world-text {
    font-size: 25vh !important;
    text-align: center;
    width: 100% !important;
  }
}

.my-world-wrapper::-webkit-scrollbar {
  width: 0;
  display: none;
}

.about-me-container::-webkit-scrollbar {
  width: 0;
  display: none;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}


.my-world-wrapper--2 {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row-reverse;
    img {
      height: 500px;
      width: 500px;
    }
}

.my-world-wrapper--3 {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
    img {
      height: 500px;
      width: 500px;
    }
}

.my-world-wrapper--4 {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
    img {
      height: 500px;
      width: 500px;
    }
}

.curved-line-wrapper {
  display: flex;
  width: 100%;
}

.curve {
  width: 33.33vw; /* 1/3 of the viewport width */
  height: 33.33vh; /* 1/3 of the viewport height */
  background: black;
  transition: clip-path 0.3s; /* Smooth transition */
  clip-path: path(M0,111
  Q85.4,0 213.5,44.400000000000006
  T341.6,111
  T427,111
  L427,222
  L0,222
  Z);
}

.curve2 {
  width: 33.33vw; /* 1/3 of the viewport width */
  height: 33.33vh; /* 1/3 of the viewport height */
  background: black;
  transition: clip-path 0.3s; /* Smooth transition */
  transform: rotate(180deg);
}

.curve3 {
  width: 33.33vw; /* 1/3 of the viewport width */
    height: 33.33vh; /* 1/3 of the viewport height */
    background: black;
    transition: clip-path 0.3s; /* Smooth transition */
}